.item_store{
	background-color: #2E4272;
	display: inline-block;
	width: 400;
	text-align: center;
	border-width: 10px;
	border-style: groove;
	border-color: red;
}
.main_board{
	background-color: #fffff;
	display: inline-block;
	align-content: center;
	border-width: 10px;
	border-style: groove;
	border-color: black;
}
.main_image{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
	width: 320px;
	height: 400px;
}


.item_inventory{
	background-color: #fffff;
	display: inline-block;
	text-align: center;
	width: 400;
	height: 500;
	border-width: 10px;
	border-style: groove;
	border-color: red;
}